APScheduler==3.10.4
asgiref==3.8.1
dj-database-url==2.2.0
Django==5.1
django-apscheduler==0.6.2
psycopg2-binary==2.9.9
pytz==2024.1
six==1.16.0
sqlparse==0.5.1
typing_extensions==4.12.2
tzdata==2024.1
tzlocal==5.2
